.navbar-primary {
    height: 120px;
    float: left;
    width: 100%;    
    display: flex;
    justify-content: space-between;    
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
    box-sizing: border-box;  
    img{
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;        
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        li {
            margin: 0px 10px;
            button {
                position: relative;
                letter-spacing: .5px;
                text-transform: uppercase;                
                font-family: "Neue Plak",Helvetica, Arial, sans-serif;
                font-weight: normal;
                font-size: 14px;
                line-height: 45px;
                margin: 0;
                color: #000;
                letter-spacing: 2px;                
                background: none;
                border: none;                
                cursor: pointer;                
                &:hover {
                    background-color: blue;
                    color: white;
                }
            }
        }        
    }
}
    .itemContainer{
        display: flex;
        flex-direction: column;
        .item-cart-product {        
            display: flex;
            flex-direction: row;
            max-width: 500px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }

    }
    .item-cart-product{
        display: flex;
        align-items: center;
        padding: 5px;
        justify-content: space-between;
        img {
            width: 10%;
        }
    
    .item-cart-product img + .cart-product__details {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .item-cart-product .cart-product__details:nth-last-child(2) {
        width: 30%;
        display: flex;
        align-items: center;
    }
    }
    .cartTotal{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .totalPrice{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .btnBorrarTodo{
            align-self: right;
        }
    }
    .cart-product__action {
        width: 10%;
        display: flex;
        align-items: center;
    }
    
    .cart-product__details {
         display: flex;
    }
    
    button.btn-delete-all {
        margin-right: 10px;
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
        background: black;
        cursor: pointer;
        border: 1px solid black;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        padding: 5px 15px;
        transition: all 0.3s ease;
    }
    
    button.btn-delete-all:hover {
        background: white;
        color: black;
    }

#basic-menu{
        opacity: 1;
        transform: none;
        transition: opacity 355ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 236ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        top: 16px;
        right: 16px !important;
        transform-origin: -16px -16px;
    }
