.item-product {    
    font-weight: 400;
    margin: 0;
    font-size: 21px;    
    letter-spacing: .8px;
    color: hsl(215deg 91% 31%);
    float: left;
    width: 33.33%;
    box-shadow: 1px 1px 5px #afafaf47;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    img {
        max-width: 25%;
    }
}