@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;1,900&display=swap');

.main-container {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    float: left;
    max-width: 100%;
}

.list-products{
    display: flex;
    flex-direction: row;
    justify-content: center;

}