@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.main-container {
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    float: left;
    max-width: 100%;
}

.list-products{
    display: flex;
    flex-direction: row;
    justify-content: center;

}